/*
Default Display Property
Block: Always starts a new line and takes full width
Inline: Does not start and only take up as mush as content space
*/

body {
  text-align: center;
}

.block {
  background: blue;
  color: white;
  width: 150px;
  margin: 0 auto; 
  /* 0 for top and bottom, auto for left nd right */
  /* if i write display: inline; act like block */
}

.inline {
  background: red;
  color: white;
  /* if i write 
    display: block;
    act like block
    */
}

/*
Horizontal Centering
*/
