/* with ID */
/*
#heading{
    color: tan;
    background-color: orangered;
}
#subheading{
    color: tomato;
    background-color: yellow;
}
*/

/* Basics */
/*
h1{
    color: blue;
    font-size: 4rem;
}
h2{
    color: greenyellow;
    font-size: 3rem;
}
h3{
    color: rebeccapurple;
    font-size: 2rem;
}
p{
    color: salmon;
}

body{
    color: slategrey;
}
*/

/* Class Selectors*/
/*
.Green{
    color: green;
    background-color: aqua;
}
.Red{
    color: red;
    background-color: seagreen;
}
*/

/* DIV SPAN*/
/*
div{
    color: green;
    background-color: aqua;
}
span{
    text-transform: uppercase;
}
.gry{
    color: yellow;
    background-color: teal;
}
*/
/* INHERITANCE */
/*
body{
    color: red;
    font-family: monospace;
    line-height: 1.5em;
}
div{
    color: saddlebrown;
    border: 3px solid black;
}
h2{
    color: skyblue;
}
*/

/* Universal Selector*/
/* Universal Selector effect every object in code */
/*
*{
    color: blue;
}
*/



/*
For comment use this structer

-- classes > normal selectors > universal selectors

*/